PORT=5000
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

CLIENT_URL=http://localhost:5173
FRONTEND_URL=http://localhost:5173
DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.mongodb.net/event_decoration_db?retryWrites=true&w=majority"

JWT_SECRET=eventDecorationSecret123
NODE_ENV=development
